body{
    font: normal  15pt Arial;
    background-color: cornflowerblue;
}
section{
background-color: white;
border-radius: 10px;
padding: 15px;
max-width: 500px;
margin: auto;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
padding-left: 40px;
}
div {
    text-align: center ;
}
footer{
color: white;
text-align: center;
}
header{
    color: white;
    text-align: center ;
}
input#botao{
border-radius: 10px;
}
